<?xml version="1.0" encoding="UTF-8" ?><widget xmlns = "http://www.w3.org/ns/widgets"    xmlns:gap = "http://phonegap.com/ns/1.0"    id        = "com.phonegap.example"    version   = "1.1.0"><name>Taximetro Fabio </name><description>TAXIMETRO</description><author href="#" email="ingeniero.fabio.garcia@gmail.com">Fabio garcia</author><icon src="img/logo36.png" gap:platform="android" gap:density="ldpi" />		<icon src="img/logo48.png" gap:platform="android" gap:density="mdpi" />		<icon src="img/logo72.png" gap:platform="android" gap:density="hdpi" />		<icon src="img/logo96.png" gap:platform="android" gap:density="xhdpi" />		<icon src="img/logo144.png" gap:platform="android" gap:density="xxhdpi" />		<icon src="img/logo192.png" gap:platform="android" gap:density="xxxhdpi" /></widget>